[Unit]
Description=uWSGI instance to serve appname project
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/var/www/oglasi-mini-cms
Environment="PATH=/var/www/oglasi-mini-cms/.venv/bin"
ExecStart=/var/www/oglasi-mini-cms/.venv/bin/uwsgi --ini /var/www/oglasi-mini-cms/server/uwsgi.ini
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target