{% extends 'cms/base.html' %}

{% block content %}
    <h2 class="naslov">Oglasi</h2>

    {% for oglas in oglasi %}
        <div class="oglas">
            <p class="oglas-ime">{{oglas.ime_proizvoda}}</p>
            <p>{{oglas.detalji}}</p>
            <p>Autor: {{oglas.autor.username}}</p>
            <p>Kategorija: <a href="/kategorije/{{ oglas.kategorija.id }}">{{ oglas.kategorija.ime_kategorije }}</a></p>
            <p><a href="/oglasi/{{ oglas.id }}" class="oglas-detalji">Detalji</a></p>
        </div>
    {% endfor %}
{% endblock %}