{% extends 'cms/base.html' %}

{% block content %}
    <div class="detalji">
        <h2 class="naslov">{{ oglas.ime_proizvoda }}</h2>
        <div class="autor">Autor: {{ oglas.autor.username }}</div>
        <div class="datum-objave">Datum objave: {{ oglas.datum_objave }}</div>
        <div class="kategorija">Kategorija: <a href="/kategorije/{{ oglas.kategorija.id }}">{{ oglas.kategorija.ime_kategorije }}</a></div>
        <div class="detalji-sadrzaj">Detalji:<br>{{ oglas.detalji }}</div>
        <div class="cijena">Cijena: {{oglas.cijena }}</div>
        <div class="grad">Grad: {{ oglas.grad.ime_grada }}</div>
    </div>

    <div class="komentari">
        <h4>Komentari</h4>
        {% for komentar in oglas.komentar_set.all %}
            <div class="komentar">
                <div class="autor">{{ komentar.autor }}</div>
                <div class="sadrzaj">{{ komentar.sadrzaj }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="novi-komentar">
        <h4>Dodaj novi komentar</h4>
        {% if user.is_authenticated %}
            <form action="/oglasi/{{ oglas.id }}/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        {% else %}
            Morate se ulogovati da biste dodali novi komentar
        {% endif %}
    </div>
{% endblock %}